
            h1 {
                color: BLACK;
            }
            
            * {
                border: solid;
            
            }
            .first{
            background-color : lightblue;
            }
            .grid{
              display:flex;
              flex-wrap : wrap;
              justify-content:space-evenly;
            }